<div class="container">
  <div class="row">
    <h4>注文履歴</h4>
      <table>
        <thead>
          <tr>
            <th>購入者</th>
            <tr><%= link_to @order.customer.full_name, admin_customer_path(@customer) %></tr>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              〒<%= @order.shipping_postal_code %>
              <%= @order.shipping_address %>
              <%= @order.shipping_name %>
            </td>
          </tr>
          <tr>
            <th>支払い方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), locul: true do |f| %> 
                <%= f.select :status, Order.statuses.key.map { |k| [I18n.t("enums.order.status.#{k}", k)] } %>
                <%= f.submit "更新" %>
              <% end %>
            </td>
          </tr>
        </thead>
      </table>
  </div>
</div>